﻿@model Nop.Plugin.Widgets.WinstantPayInvoice.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="WidgetsWinstantPayInvoice" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Username_OverrideForStore" asp-input="Username" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Username" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Username" />
                        <span asp-validation-for="Username"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Password_OverrideForStore" asp-input="Password" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Password" />
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <nop-editor asp-for="Password" />
                            <div class="input-group-btn">
                                @if (!String.IsNullOrEmpty(Model.Username))
                                {
                                    <button type="submit" name="changepassword" class="btn btn-info">
                                        @T("Admin.Customers.Customers.Fields.Password.Change")
                                    </button>
                                }
                            </div>

                        </div>
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WPayId_OverrideForStore" asp-input="WPayId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WPayId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WPayId" />
                        <span asp-validation-for="WPayId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Domain_OverrideForStore" asp-input="Domain" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Domain" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Domain" />
                        <span asp-validation-for="Domain"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WebServiceUrl_OverrideForStore" asp-input="WebServiceUrl" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WebServiceUrl" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WebServiceUrl" />
                        <span asp-validation-for="WebServiceUrl"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Company_OverrideForStore" asp-input="Company" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Company" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Company" />
                        <span asp-validation-for="Company"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="StreetAddress_OverrideForStore" asp-input="StreetAddress" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="StreetAddress" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="StreetAddress" />
                        <span asp-validation-for="StreetAddress"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="City_OverrideForStore" asp-input="City" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="City" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="City" />
                        <span asp-validation-for="City"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="State_OverrideForStore" asp-input="State" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="State" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="State" />
                        <span asp-validation-for="State"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Country_OverrideForStore" asp-input="Country" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Country" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Country" />
                        <span asp-validation-for="Country"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PostalCode_OverrideForStore" asp-input="PostalCode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PostalCode" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PostalCode" />
                        <span asp-validation-for="PostalCode"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Email_OverrideForStore" asp-input="Email" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Email" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Phone_OverrideForStore" asp-input="Phone" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Phone" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Phone" />
                        <span asp-validation-for="Phone"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="IsShowViewInvoiceButtonOnCustomerOrderDetailPage_OverrideForStore" asp-input="IsShowViewInvoiceButtonOnCustomerOrderDetailPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IsShowViewInvoiceButtonOnCustomerOrderDetailPage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsShowViewInvoiceButtonOnCustomerOrderDetailPage" />
                        <span asp-validation-for="IsShowViewInvoiceButtonOnCustomerOrderDetailPage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="IsShowGetInvoiceStatusButtonOnAdminOrderDetailPage_OverrideForStore" asp-input="IsShowGetInvoiceStatusButtonOnAdminOrderDetailPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IsShowGetInvoiceStatusButtonOnAdminOrderDetailPage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsShowGetInvoiceStatusButtonOnAdminOrderDetailPage" />
                        <span asp-validation-for="IsShowGetInvoiceStatusButtonOnAdminOrderDetailPage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="IsShowSendInvoiceToWinstantPayButtonOnAdminOrderDetailPage_OverrideForStore" asp-input="IsShowSendInvoiceToWinstantPayButtonOnAdminOrderDetailPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IsShowSendInvoiceToWinstantPayButtonOnAdminOrderDetailPage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsShowSendInvoiceToWinstantPayButtonOnAdminOrderDetailPage" />
                        <span asp-validation-for="IsShowSendInvoiceToWinstantPayButtonOnAdminOrderDetailPage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="IsSendInvoiceToWinstantPayWhenOrderPlaced_OverrideForStore" asp-input="IsSendInvoiceToWinstantPayWhenOrderPlaced" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IsSendInvoiceToWinstantPayWhenOrderPlaced" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsSendInvoiceToWinstantPayWhenOrderPlaced" />
                        <span asp-validation-for="IsSendInvoiceToWinstantPayWhenOrderPlaced"></span>
                    </div>
                </div>

            </div>
        </div>               
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>