﻿<a asp-route="Plugin.Widgets.WinstantPayInvoice.GetStatus" class="btn bg-green">
    <i class="fa fa-file-pdf-o"></i>
    @T("Plugins.Widgets.WinstantPayInvoice.SendMultipleInvoicesButton.Text")
</a>