﻿@model Nop.Plugin.Widgets.WinstantPayInvoice.Models.PublicInfoModel

@if (Model.IsAdminOrdersList)
{
    <a asp-route="Plugin.Widgets.WinstantPayInvoice.GetStatus" asp-route-orderId="@Model.OrderId" class="btn bg-green">
        <i class="fa fa-file-pdf-o"></i>
        @T("Plugins.Widgets.Invoice.SendMultipleInvoicesButton.Text")
    </a>
}
else if (!(Model.IsInvoiceNumberExisted))
{
    <a asp-route="Plugin.Widgets.WinstantPayInvoice.Create" asp-route-orderId="@Model.OrderId" class="btn bg-green">
        <i class="fa fa-file-pdf-o"></i>
        @T("Plugins.Widgets.WinstantPayInvoice.SendButton.Text")
    </a>
}
else if (Model.OrderId > 0)
{
    <a asp-route="Plugin.Widgets.Invoice.GetStatus" asp-route-orderId="@Model.OrderId" class="btn bg-green">
        <i class="fa fa-file-pdf-o"></i>
        @T("Plugins.Widgets.WinstantPayInvoice.GetStatusButton.Text")
    </a>
}
