﻿@model Nop.Plugin.Widgets.WinstantPayInvoice.Models.PublicInfoOrderDetailModel
@if (Model.IsInvoiceExisted)
{
    <div class="actions">
        <input type="button" value="@T("Plugins.Widgets.WinstantPayInvoice.ViewInvoice.Text")" class="button-1 re-order-button" onclick="setLocation('@Model.InvoicePublicUrl')" />
    </div>
}